.navbar ul{
    background-color: yellow; 
    list-style-type: none;
    text-align: center;
    margin: 20;
    padding: 0;
    display: inline-flex;
    width: 100%

}
.navbar li{
    
    font-size: 20px;
    padding: 20px;
}

.selected{
    text-decoration: underline;
    color: red;
   
}